<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513782079872-379nkug85ujklnd3k0i5e51r1uq1vd27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513782079872-379nkug85ujklnd3k0i5e51r1uq1vd27</string>
	<key>API_KEY</key>
	<string>AIzaSyBhTlnOr8wZQAn-wfN-X8PdPY7pXeNw3UY</string>
	<key>GCM_SENDER_ID</key>
	<string>513782079872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-6538f</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-6538f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513782079872:ios:8a58b7e55ad41aa34c2165</string>
</dict>
</plist>